#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: none !important;
  overflow: hidden;
  text-align: center;
}

body {
  width: 100%;
  scrollbar-width: none !important;
  max-width: 100%;
  margin: 0;
  padding: 0;
}